[Unit]
Description=security-config service

[Service]
Type=simple
ExecStart=/usr/share/security-config/smack_default_labeling

[Install]
WantedBy=multi-user.target

